<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Value presented in gold -->
    <add key="MinimumCapitalFromWorkshop" value="4400"/>
    <!-- Value presented in gold -->
    <add key="MaximumCapitalFromWorkshop" value="6250"/>
    <!-- Value presented in gold -->
    <add key="BoundVillageWorkshopIncrement" value="750"/>
  </appSettings>
</configuration>