<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TargetCapital" value="32000" />
    <add key="MinimumCapitalFromWorkshop" value="4400"/>
    <!-- Value presented in gold -->
    <add key="MaximumCapitalFromWorkshop" value="6250"/>
    <!-- Value presented in gold -->
    
    
    
    <add key="BonusForComplimentingVillage" value="500" />
    <!--
    adds a bonus when a village is owned by the workshop's settlement that produces
    a good required for input on any of the items produced there
    
    0 to disable
    -->

    <add key="PenaltyForNoComplimentingVillage" value="0" />
    <!--
    adds a penalty when there is NO village that produces any of the goods required for the workshop
    0 to disable
    -->


    <!-- these settings determin how agressive the mod is at setting workshop income values -->
    <add key="ForcedFundsInterval" value="Daily"/>
    <!--
      weekly or daily.
      weekly will let more of the game logic take over
      hourly is coded but untested.
    -->
    <add key="ForcedFundsFrequency" value="1"/>
    <!--
      untested
      frequency at interval above. recommended = 1
      3 Daily = once every 3 days
      
      this doesn't save though, so if you don't play for 3 days at a time then the mod will never "tick"
    -->

  </appSettings>
</configuration>